src/main/mule/db_oracle_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d627216-0c9f-4244-abec-3e3cc0b2d8f0" basePath="dbDemo">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1800119b-2203-4eb7-9f46-a6a697eaaf6f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="dbexample">
		 <db:connection-properties >
             <db:connection-property key="useSSL" value="false" />
         </db:connection-properties>
		</db:my-sql-connection>
	</db:config>
	<flow name="db_oracle_demoFlow" doc:id="f92e0b01-e8cc-4c61-a2d3-e82836192d5c" >
		<http:listener doc:name="Listener" doc:id="f7109dfc-c714-4755-b335-edacd3f42dd0" config-ref="HTTP_Listener_config" path="/query">
		<ee:repeatable-file-store-stream />
<http:response >
<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
</http:response>
</http:listener>
		<db:select doc:name="Select" doc:id="c49f31e0-db02-4ab8-8c53-e71f029aafc2" config-ref="Database_Config">
			<db:sql >SELECT employee_firstname, employee_lastname FROM employees_tbl where employee_id = :employee_id

</db:sql>
			<db:input-parameters ><![CDATA[#[{"employee_id" : attributes.queryParams.empid }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1052bc5b-d84b-4b50-8b39-7a5cd3c57acd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e2d1318b-ee99-46a4-9231-14e183216ba0" message="#[payload]"/>
	</flow>
</mule>
